.container {
	position: relative;
	background-color: #caf0f8;
	text-align: center;
	width: fit-content;
	padding: 20px;
	margin: auto;
}
.vit-logo {
	width: 400px;
}
.inputform {
	margin: 0 auto;
}
table {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
.title {
	background-color: #00b4d861;
	display: inline-block;
	width: 526px;
	padding: 5px 0px;
}
.navbar{
	float: left;
}
.logoArea{
	display: inline-block;
}
.logo{
	float: left;
}
.logoText{
	line-height: 1;
}
.subtext{
	color: #5d5f61;
}
hr{
	/* margin-top: 50px; */
	border: 2px solid #5d5f61;
	border-radius: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h6{
	margin: 0;
	font-style: italic;
}